
.my-form {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    text-align: right;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.my-form label {
    font-size: 20px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.my-form textarea {
    height: 90px;
}

.submit {
    padding-top: 20px;
    width: 150px;
}

.message {
    text-align: center;
    color: red;
}

.my-form input, textarea {
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    resize: none;
    /*margin: 0 0 0 2%;*/
    float: right;
}

.spacingDivMiddle {
    width: 2%;
}

.spacingDivRight {
    width: 40%;
}

.delete {
    width: 3%;
    height: 3%;
}

.add {
    width: 5%;
    height: 5%;
}

.ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredientsTableItem {

}