
h2 {
    margin-top: 1%;
    color: black;
    text-align: center;
    font-family: "Bell MT";
    font-size: 200%;
}


.buttons-container {
    text-align: center;
}

.button {
    width: 14%;
    height: 22%;
    margin-right: 2%;
    margin-left: 2%;
}


