
.my-form {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    text-align: right;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.my-form label {
    font-size: 20px;
    color: black;
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    white-space: nowrap;
}

.my-form textarea {
    height: 90px;
}

.submit {
    padding-top: 20px;
    width: 150px;
}

.message {
    text-align: center;
    color: red;
}

.form-object {
    background: transparent;
    color: black;
    border: 3px solid black;
    width: 30%;
    border-radius: 10px;
    resize: none;
    margin: 0 0 0 2%;
    float: right;
}

.spacingDivMiddle {
    width: 2%;
}

.spacingDivRight {
    width: 20%;
}