extends mainLayout
block content

    h2 Welcome to your desserts diary, here you can create all your favorite desserts and save them.
    h2 You can also view other's dessert's according to what you feel like making today and get new inspiration.
    h2 Enjoy! 


    div(class="desserts-images")
        img(class="dessert-image" src="images/desserts/cake1.png")
        img(class="dessert-image" src="images/desserts/chocolatcake.png")
        img(class="dessert-image" src="images/desserts/cupcake.png")
        img(class="dessert-image" src="images/desserts/macaroons.png")
        img(class="dessert-image" src="images/desserts/strawberrycake.png")