extends mainLayout
block content

    div(class="buttons-container")
        a(href="/signUp")
            img(class="button" src="images/signup.PNG")
        a(href="/login")
            img(class="button" src="images/login.PNG")

    div(class="desserts-images")
        img(class="dessert-image" src="images/desserts/cake1.png")
        img(class="dessert-image" src="images/desserts/chocolatcake.png")
        img(class="dessert-image" src="images/desserts/cupcake.png")
        img(class="dessert-image" src="images/desserts/macaroons.png")
        img(class="dessert-image" src="images/desserts/strawberrycake.png")



                